* {
    text-align: center;
    background: rgba( 0, 0, 255, 0.3);
}

.bar {
    margin-inline: auto;
    background: black;
    color: white;
    width: 600px;
}

input {
    width: 40px;
    font-weight: bold;
    font-size: large;
    height: 20px;
}

button {
    margin-top: 7px;
}

/*Practice #1*/

#practice1 {
    border: solid;
    padding: 20px;
    margin-inline: 10px;
    width: 100px;
    display: inline-block;
}

/*Practice #2*/

#box1 {
    padding: 5px;
    border: solid;
    border-color: black;
    width: 200px;
    display: inline-block;
}

/*Practice #3*/

#box2 {
    width: 500px;
    padding: 5px;
    border: solid;
    border-color: black; 
    display: inline-block;
}

#drinks-section {
    display: inline-flex;
}

#chips-section {
    display: inline-flex;
}

.item {
    font-weight: bold;
    border: solid;
    width: 55px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid;
    border-radius: 13px;
    margin-inline: 3px;
}

#money-label {
    display: flex;
    padding: none;
    margin: none;
    font: bold;
}

.money {
    display: flex;
}

#cash-in {
    margin-top: 15px;
}

#cash-ent {
    height: 25px;
    margin-top: 15px;
    margin-left: 3px;
}

#total-cash {
    margin-left: 105px;
    font-weight: bold;
    font-size: large;
}

#table {
    display: inline-flex;
}

.section {
    display: inline-grid;
    padding-inline: 3px;
    margin: none;
    
}

.section p {
    padding-bottom: none;
    margin-bottom: 2px;
}

.yorn {
    display: inline-grid;
}

#r-item {
    text-align: center;
    font-weight: bold;
    font-size:larger;
    color: blue;
}

#bag {
    text-align: end;
    margin-right: 70px;
    font-weight: bold;
    font-size: large;
}

#change {
    text-align: end;
    margin-right: 70px;
    font-weight: bold;
    font-size: large;
}

/*Practice #4*/

#practice4 {
    display: inline;
}

#p4-player-section {
    display: flex;
}

#tikTakToe {
}

#mark-section {
    display: inline-flex;
}

#weapon-text {
    font-weight: bold;
    visibility: hidden;
}

#mark-x {
    padding-inline: 10px;
    font-size: x-large;
    margin-top: 0px;
    font-weight: bold;
    visibility: hidden;
}

#mark-o {
    padding-inline: 10px;
    font-size: x-large;
    margin-top: 0px;
    font-weight: bold;
    visibility: hidden;
}

#mark-x:hover {
    color: green;
}

#mark-o:hover {
    color: red;
}

#tik-board {
    border: solid;
    display: inline-grid; 
    padding: 10px;
    background: aqua;
}

#tik-board p:hover {
    background: blue;
    color: yellow;
}

#first-row {
    display: inline-flex;
    margin-bottom: -16px;
}

#second-row {
    display: inline-flex;
    margin-top: -16px;
    margin-bottom: -16px;
}

#third-row {
    display: inline-flex;
    margin-top: -16px;
}

#a-square {
    border-bottom: solid;
    border-right: solid;
    padding: 30px;
}

#b-square {
    border-bottom: solid;
    border-right: solid;
    border-left: solid;
    padding: 30px;
}

#c-square {
    border-bottom: solid;
    border-left: solid;
    padding: 30px;
}

#d-square {
    border-top: solid;
    border-bottom: solid;
    border-right: solid;
    padding: 30px;
}

#e-square {
    border: solid;
    padding: 30px;
}

#f-square {
    border-top: solid;
    border-bottom: solid;
    border-left: solid;
    padding: 30px;
}

#g-square {
    border-top: solid;
    border-right: solid;
    padding: 30px;
}

#h-square {
    border-top: solid;
    border-right: solid;
    border-left: solid;
    padding: 30px;
}

#i-square {
    border-top: solid;
    border-left: solid;
    padding: 30px;
}