/*Customizes the whole html page*/
* {
    padding: 10px;
    margin: 1px;
    letter-spacing: normal;
    background-color:rgba(0 0 255 / .2);
    background: linear-gradient;
}

.center {
    text-align: center;
}

.h1 {
    font-weight: 900;
}

.img1 {
    width: 300px;
}

.socials {
    width: 30px;
    display: inline;
}

a:hover {
    background: blue;
}

li {
    list-style:disc;
    color: black;
    font-weight: 900;
}

.container {
    
    height: auto;
    padding: 20px;
    display: grid;
    align-items: center;
    justify-content: left;
    font-family: 'Poppins', sans-serif;
}

.item {
    width: auto;
}
