/*Customizes the whole html page*/
* {
    letter-spacing: normal;
    background-color:rgba(0 0 255 / .2);
    background: linear-gradient;
}

.header {
    display: grid;
    justify-content: center;
    text-align: center;
}

.img1 {
    width: 300px;
    border-radius: 20px;
}






.socials-container {
    text-align: center;
    float: left;
}

.socials {
    width: 30px;
    height: 30px;
    margin: 5px;
    padding: 2px;
    border-radius: 15px;
    opacity: .6;
}

.socials:hover {
    transition: all .3s;
    transform: scale(1.3) rotate(360deg);
    opacity: 1;
    background-color: blue;
}

.view {
    font-weight: 900;
}

a:link,
a:visited {
    color: yellowgreen;
}
    









.page-wrapper {
    text-align: center;
}

li {
    list-style: none;
    color: black;    
}

.container {
    width: 10cm;
    margin: 2cm;
    padding: 10px;
    display: inline-grid;
    font-family: 'Poppins', sans-serif;
}

.section {
    margin-bottom: 40px;
}

.item {
    width: auto;
    text-align: left;
    display: grid;
}
