* {
    letter-spacing: normal;
    background-color:rgba(0 0 255 / .2);
}

body {
    text-align: center;
}

img {
    width: 300px;
    border-radius: 15px;
}

.socials {
    width: 30px;
    border-radius: 15px;
    opacity: .7;
}

.socials:hover {
    transition: all .3s;
    transform: scale(1.3) rotate(360deg);
    opacity: 1;
    background-color: blue;
}

a:link,
a:visited {
    color: yellowgreen;
}

#mylist-el {
    list-style: none;
}

.container {
    width: 10cm;
    margin: 2cm;
    padding: 10px;
    display: inline-grid;
    font-family: 'Poppins', sans-serif;
}


