* {
    background-color:rgba(255 0 0 / .2);
    text-align: center;
}

.page-wrapper {
    display: inline-block;
}

.side-1 {
    margin-right: 100px;
    display: inline-grid;
}

.side-2 {
    margin-left: 100px;
    display: inline-grid;
}